body {
  margin: 0;
  padding: 0;
}
a{
  color: #da0d25;
  text-decoration: none;
}
a:hover {
  color: #f22840;
  text-decoration: none;
}
.main-header {
  position: fixed;
  background: #eee;
  padding: 1em;
}
.main-header__nav {
  border-top: solid 1px #ccc;
  margin: 1em -1em;
}
.main-header__nav a {
  display: block;
  padding: 0.5em 1em;
  border-bottom: solid 1px #ddd;
}
.main-header__nav a:hover{
  color: #eee;
  background: #da0d25;
}
@media only screen and (max-width: 1000px){
  body { 
  	padding: 0; 
  }
  .main-header{
    position: relative;
    width: 100%;
  }
  .main-header__nav a{ 
  	display: inline-block; 
  	border: none; 
  }
}