*{
	margin: 0;
	padding:0;
	box-sizing: border-box;
}
h1{
	color: rgb(25,25,100);
}
body{
	background-image: url("web2.jpg");
	background-repeat: no-repeat;
    background-size: 100% 100%;
    font-family: cursive;
}
ul{
	margin: 3%;
	width: 550px;
	display: flex;
	flex-direction: row;
	list-style: none;
	padding: 25px;
	border-radius: 25px;
	background-color: #18181B;
	box-shadow: 20px 4px 8px #18181B;
}
li{
	margin: auto;
	color:#00FFFF;
	font-size: 20px;
	cursor: pointer;
}
li a{
	color: #00FFFF;
	text-decoration: none;
}
.nav1{
    background-color: red;
    padding: 10px;
    border-radius: 25px;
}
.container{
	display: flex;
	align-items: center;
	justify-content: center;
}
.swiper{
	width: 100%;
	height: fit-content;
}
.swiper-slide img{
	border-radius: 30px;
    width: 90%;
    margin-left: 45px;
}
.swiper-button-prev,.swiper-button-next{
	color: #fff;
}
.swiper-pagination-bullet-active{
	background: #fff;
}
.images{
	position: relative;
	text-align: center;
	width: 250px;
	height: 500px;
	transform-style: preserve-3d;
	perspective: 1000px;
	cursor: pointer;
}
.images img{
	position: absolute;
	backface-visibility: hidden;
	~webkit-backface-visibility:hidden;
	transition: 1s;
}
.images img:nth-child(2){
	transform: rotateY(180deg);
}
.images:hover img:nth-child(2){
	transform: rotateY(0);
}
.images:hover img:nth-child(1){
	transform: rotateY(-180deg);
}
footer{
	background-color: gray;
	color: black;
	padding: 20px;
	text-align: center;
	font-weight: bold;
}
footer img{
	width: 30px;
}
@media only screen and (max-width: 1000px){
	h1{
		font-size: 100px;
	}
	ul{
		width: 900px;
		height: 150px;
	}
	li{
		font-size: 40px;
		padding: 30px;
	}
	footer{
		font-size: 40px;
	}
	footer img{
		width: 60px;
	}
}

