*{
	margin: 0;
	padding:0;
	box-sizing: border-box;
}
h1{
	color: rgb(25,25,100);
}
h2{
	color: blue;
	font-size: 50px;
	font-family: times new roman;
	text-align: center;
}
body{
	background-image: url("web2.jpg");
	background-repeat: no-repeat;
    background-size: 100% 100%;
    font-family: cursive;
}
ul{
	margin: 3%;
	width: 550px;
	display: flex;
	flex-direction: row;
	list-style: none;
	padding: 25px;
	border-radius: 25px;
	background-color: #18181B;
	box-shadow: 20px 4px 8px #18181B;
}
li{
	margin: auto;
	color:#00FFFF;
	font-size: 20px;
	cursor: pointer;
}
li a{
	color: #00FFFF;
	text-decoration: none;
}
.nav1{
    background-color: red;
    padding: 10px;
    border-radius: 25px;
}
.container{
	display: flex;
	align-items: center;
	justify-content: center;
}
.swiper{
	width: 100%;
	height: fit-content;
}
.swiper-slide img{
	border-radius: 30px;
    width: 90%;
    margin-left: 45px;
}
.swiper-button-prev,.swiper-button-next{
	color: #fff;
}
.swiper-pagination-bullet-active{
	background: #fff;
}
.images{
	position: relative;
	text-align: center;
	width: 250px;
	height: 450px;
	transform-style: preserve-3d;
	perspective: 1000px;
	cursor: pointer;
}
.images img{
	width: 750px;
	position: absolute;
	border-radius: 25px;
	backface-visibility: hidden;
	~webkit-backface-visibility:hidden;
	transition: 1s;
}
.images img:nth-child(2){
	transform: rotateY(180deg);
}
.images:hover img:nth-child(2){
	transform: rotateY(0);
}
.images:hover img:nth-child(1){
	transform: rotateY(-180deg);
}
.img{
	margin-left: 150px;
	width: 200px;
    position: relative;
}
.img img{
	width: 700px;
	border-radius: 25px;
}
.content img{
	width: 100px;
}
.content{
	width: 700px;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	background: rgba(0,0,0,0.6);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	opacity: 0;
	transition: 0.6s;
}
.content:hover{
	border-radius: 25px;
	opacity: 1;
}
.content h1{
	color: #ffe100;
	font-size: 55px;
	margin-bottom: 15px;
}
.content p{
	font-size: 30px;
	color: white;
}
.content>*{
	transform: translateX(150px);
	transition: transform 0.6s;
}
.content:hover>*{
	transform: translateX(0px);
}
footer{
	background-color: gray;
	color: black;
	padding: 20px;
	text-align: center;
	font-weight: bold;
}
footer img{
	width: 30px;
}
@media only screen and (max-width: 1000px){
	h1{
		font-size: 100px;
	}
	ul{
		width: 900px;
		height: 150px;
	}
	li{
		font-size: 40px;
		padding: 30px;
	}
	footer{
		font-size: 40px;
	}
	footer img{
		width: 60px;
	}
}

