*{
	margin: 0;
	padding:0;
	box-sizing: border-box;
}
h1{
	color: rgb(25,25,100);
        font-family: 'Rampart One';
}
body{
	background-image: url("web2.jpg");
	background-repeat: no-repeat;
    background-size: 100% 100%;
    font-family: cursive;
}
ul{
	margin: 3%;
	width: 550px;
	display: flex;
	flex-direction: row;
	list-style: none;
	padding: 25px;
	border-radius: 25px;
	background-color: #18181B;
	box-shadow: 20px 4px 8px #18181B;
}
li{
	margin: auto;
	color:#00FFFF;
	font-size: 20px;
	cursor: pointer;
}
li a{
	color: #00FFFF;
	text-decoration: none;
}
.nav2{
    background-color: red;
    padding: 10px;
    border-radius: 25px;
}
.row{
  display: flex;
  flex-wrap: wrap;
  padding: 0px 0px;
  margin-left: 5px;
}
.column{
  flex: 25%;
  max-width: 24.4%;
  padding: 0px 4px;
}
.column img{
  margin-top: 8px;
  vertical-align: center;
  width: 100%;
  transition-duration: .5s;
}
.column img:hover{
  box-shadow: 4px 4px 5px rgba(0,0,0,1.7);
}
footer{
	background-color: gray;
	color: black;
	padding: 20px;
	text-align: center;
	font-weight: bold;
}
footer img{
	width: 30px;
}
@media only screen and (max-width: 1000px){
	h1{
		font-size: 100px;
	}
	ul{
		width: 900px;
		height: 150px;
	}
	li{
		font-size: 40px;
		padding: 30px;
	}
	footer{
		font-size: 40px;
	}
	footer img{
		width: 60px;
	}
}

